{% extends 'base.html '%}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/estilo.css' %}">
{% endblock %}


{% block contenido %}
{% load humanize %}

<div class="container">
    <div class="card mb-3">
        <div class="card-body">
            <h2 style="color: darkgreen;"></h2>
            <a href="{% url 'exportar_informe' %}" class="btn btn-primary">📄 Exportar Informe Word</a>
            <table class="table table-striped table-hover table-responsive-sm">
                <tr>
                    <th>Id Pedido</th>
                    <th>Fecha Compra</th>
                    <th>Cliente</th>
                    <th>Estado</th>
                    <th>Tipo Envio</th>
                    <th>Total</th>
                    <th>Preparar</th>
                </tr>
                <!-- Cambiar el if de estado a pagado despues -->
                {% for p in pedido %}
                <tr>
                    <td>{{p.id_pedido}}</td>
                    <td> {{ p.fecha_compra }}</td>
                    <td> {{ p.user }}</td>
                    <td>{{p.estado}}</td>                    
                    <td>{{p.tipo_envio}}</td>                    
                    <td>${{p.total | intcomma}}</td>
                    <td><a href="{% url 'detallepedido' p.id_pedido %}" class="btn btn-outline-success">Detalles</a></td>               
                </tr>
                    
                {% endfor %}
            </table>
            <div>
            </div>
        </div>
    </div>

</div>

{% endblock %}