{% load humanize %}
<div  role="alert">
    <table class="table table-bordered alert alert-warning">
        <thead>
            <tr scope="row"class="text-center"><td colspan="3" style="font-weight:bold; font-size:18px">  CARRITO </td></tr>
            <td style="font-size:15px; font-weight: bold; color:black; text-align: center;">Nombre</td>
            <td style="font-size:15px; font-weight: bold; color:black; text-align: center;">PRECIO</td>
            <td style="font-size:15px; font-weight: bold; color:black; text-align: center;">CANTIDAD</td>
        </thead>
        <tbody>
            {% if request.session.carrito.items %}
            
                {% for key, value in request.session.carrito.items %} 
                    <tr>
                        <td style="font-size:13px">{{ value.nombre }}</td>
                        <td style="font-size:13px">{{ value.precio }}</td>
                        <td style="font-size:13px">{{ value.cantidad}}
                            <br>
                            <a href="{% url 'add' value.producto_id %}" class="badge btn btn-primary">+</a>
                            <a href="{% url 'sub'  value.producto_id %}" class="badge btn btn-warning">-</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Subtotal : </th>
                        <td colspan="2">$ {{value.total }}</td>
                        
                    </tr>
                {% endfor %}
                    <tr>
                        <th scope="row">Total: {{ totalCarrito|intcomma }}  </th>
                    </tr>
                
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% else %}
            <tr>
                <td colspan="3">
                    <div class="alert alert-info text-center" style="font-weight: bold;">Sin Productos</div>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <form method="POST" action="{% url 'generarPedido' %}">
  {% csrf_token %}

 <div class="bg-light p-3 rounded">
  <!-- Tipo de entrega -->
  <div>
    <label><strong>Tipo de entrega:</strong></label><br>
    <input type="radio" name="tipo_envio" value="retiro" checked> Retiro en tienda (Sin costo)<br>
    <input type="radio" name="tipo_envio" value="domicilio"> Despacho a domicilio ($5.000)<br>
  </div>

  <!-- Medio de pago -->
  <div>
    <label><strong>Medio de pago:</strong></label><br>
    <input type="radio" name="medio_pago" value="tarjeta" checked> Tarjeta<br>
    <input type="radio" name="medio_pago" value="transferencia"> Transferencia<br>
  </div>
</div>

  <br>
  <div class="row text-center" >
        <button type="submit" class="btn btn-success ml-3 mr-2">Confirmar pedido</button>
        <a href="{% url 'cls' %}" class="btn btn-warning">Limpiar</a> 
    </div> 
</form>
    <hr>
</div>
       <div class="col-6">
        <!-- <a href="{% url 'generarPedido' %}" class="btn btn-outline-primary">Comprar</a> -->
    </div>
</div>