{% extends 'base.html '%}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/estilo.css' %}">
{% endblock %}


{% block contenido %}
{% load humanize %}

<div class="container my-3">
    <div class="card mb-3 shadow">
        <div class="card-body">
            <h2 style="color: darkgreen;">Panel Finanzas </h2>
            <h5><strong>Total pedidos: </strong> {{totalPedidos}}</p></h5>
            <h5><strong>Valor dolar Actual: </strong> {{valor_dolar}}</h5>
            
            <form method="get" class="row g-2 align-items-center mb-4 mt-3">
                <div class="col-auto">
                    <label for="estado" class="col-form-label">Filtrar por estado:</label>
                </div>
                <div class="col-auto">

                    <select name="estado" id="estado" class="form-control mx-2">
                        <option value="">Todos</option>
                        <option value="pagado" {% if estado_actual == "pagado" %}selected{% endif %}>Pagado</option>
                        <option value="entregado" {% if estado_actual == "entregado" %}selected{% endif %}>Entregado</option>
                    </select>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-success">Filtrar</button>
                </div>
            </form>

            <div class="d-flex flex-column flex-md-row justify-content-between gap-2 mb-3">
                <a href="{% url 'exportar_informe' %}" class="btn btn-admin btn-informe w-100 w-md-auto" style=" margin: 5px 5px" >📄 Informe ventas mensual</a>
                <a href="{% url 'contadorTrans' %}" class="btn btn-primary w-100 w-md-auto " style=" margin: 5px 5px;" >Ver transferencias</a>
            </div>
            
            <div class="table-responsive">
                <table class="table table-striped table-hover text-center align-middle">
                    <tr class="table-success">
                        <th>Id Pedido</th>
                        <th>Fecha Compra</th>
                        <th>Cliente</th>
                        <th class="d-none d-md-table-cell">Estado</th>
                        <th class="d-none d-md-table-cell">Tipo Envio</th>
                        <th>Tipo Pago</th>
                        <th>Total</th>
                    </tr>
                    {% for p in pedido %}
                    <tr>
                        <td>{{p.id_pedido}}</td>
                        <td data-label="Fecha">
                            <span class="d-none d-md-inline">{{ p.fecha_compra|date:"d/m/Y" }}</span>
                            <span class="d-inline d-md-none">{{ p.fecha_compra|date:"d/m/Y" }}</span>
                        </td>
                        <td>{{ p.user }}</td>
                        <td class="d-none d-md-table-cell">{{p.estado}}</td>                    
                        <td class="d-none d-md-table-cell">{{p.tipo_envio}}</td>                    
                        <td>{{p.tipo_pago}}</td>                    
                        <td>${{p.total | intcomma}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    
</div>


<script>
    const valorDolar = "{{ valor_dolar }}";
    console.log("Valor del dólar:", valorDolar);
</script>
{% endblock %}