{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/estilo.css' %}">
{% endblock %}
{% block contenido %}
{% load humanize %}
<div class="container">
    <div class="card">
        {% if detalles %}
            <h3> Detalles Pedido: {{detalles.0.id_pedido}} </h3><br>
            <h4> Estado del pedido: Pedido {{detalles.0.id_pedido.estado}} </h4><br>
            <h4> Total: ${{detalles.0.id_pedido.total |intcomma}} </h4><br>
        {% elif productos %}
            <h3> Detalles de tu Pedido </h3><br>
            <h4> Fecha: {{fecha}} </h4><br>
            <h4> Tipo de envío: {{tipo_envio}} </h4><br>
            <h4> Total: ${{total |intcomma}} </h4><br>
        {% endif %}
        
        <table class="table">
            <thead>
                <tr>
                    <th>Img</th>
                    <th>Código Producto</th>
                    <th>Nombre Producto</th>
                    <th>Categoria</th>
                    <th>Cantidad</th>
                    <th>Valor Unitario</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% if detalles %}
                    {% for d in detalles %}
                    <tr>
                        <td><img src="{{ d.id_producto.imagen.url }}" style="height: 60px; width: 60px;"></td>
                        <td>{{ d.id_producto.idProducto }}</td>
                        <td>{{ d.id_producto.nombre }}</td>
                        <td>{{ d.id_producto.categoria }}</td>
                        <td>{{ d.cantidad }}</td>
                        <td>${{ d.id_producto.precio | intcomma}}</td>
                        <td>${{ d.subtotal | intcomma}}</td>
                    </tr>
                    {% endfor %}
                {% elif productos %}
                    {% for producto in productos %}
                    <tr>
                        <td><img src="{{ producto.imagen.url }}" style="height: 60px; width: 60px;"></td>
                        <td>{{ producto.idProducto }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.categoria }}</td>
                        <td>{{ cantidad }}</td> <!-- Necesitarías pasar esta información -->
                        <td>${{ producto.precio | intcomma}}</td>
                        <td>${{ producto.precio | intcomma}}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        <a href="{% url 'tienda' %}" class="btn btn-warning" style=" margin: 5px 5px;">Volver </a>
    </div>
    <br>
</div>
{% endblock %}