{% extends 'base.html '%}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/estilo.css' %}">
{% endblock %}
{% block contenido %}
{% load humanize %}
<div class="container">
    <br>
    
    <div class="row justify-content-center">
        <div class="col-md-6">
            
            <div class="card border-success ">
                <div class="card">
                    <h2 style="text-align: center; color: darkgreen;">Detalle producto</h2>

                    <img src="{{ producto.imagen.url }}" class="card-img-top" style="width: auto; height: auto; margin-left: 20px; margin-right: 20px;">
                    <div class="card-body text-success">
                        <div class="header">{{ producto.idProducto}}</div>
                        <h5 class="card-title">Nombre: {{ producto.nombre }}</h5>
                        <p class="card-text"> Descripción: {{ producto.descripcion }}</p>
                        <p class="card-text"> Precio: ${{ producto.precio | intcomma }}</p>
                        
                        <div class="card-footer">
                            <small class="text-muted">Categoria: {{ producto.categoria }}</small>
                            <a href="{% url 'productos' %}" class="btn btn-outline-success" style="float: right;"> Ir a Productos </a>
                            &nbsp;
                            <a href="{% url 'tienda' %}" class="btn btn-success" style="float: right;"> Ir a Comprar </a>
                            {% if user.is_authenticated and user.is_superuser %}
                            <a href="{% url 'modificar' producto.idProducto %}" class="btn btn-outline-danger" style="float: right;" >Modificar</a>
                            {% endif %}

                        
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}