{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}



{% block contenido %}
    <script>
        const toggleBtn = document.querySelector('.toggle-btn')
        const toggleBtnIcon = document.querySelector('.toggle-btn i')
        const dropDownMenu = document.querySelector('.dropdown_menu')
        
        toggleBtn.onclick = function(){
            dropDownMenu.classList.toggle('open')
        }
   </script>
    <div class="slider">
        <div class="list">
            <div class="item">
                <img src="{% static 'img/foto1.webp' %}" alt="">

                <div class="content">
                    <div class="title"> SABEMOS LO QUE</div>
                    <div class="title"> NECESITAS</div>
                    <div class="description">
                        ¡Descubre una nueva era en el hogar sostenible!
                         Con nuestros materiales innovadores, transforma tu espacio. 
                         Desde linternas recargables hasta estufas de pellets de madera, escaleras plegables y más,
                          ¡haz del cuidado del planeta, una parte importe en tu vida!
                    </div>
                    <div class="button">
                        <button> SABER MÁS</button>
                    </div>
                    

                </div>
                
            </div>

            <div class="item">
                <img src="{% static 'img/foto2.jpg' %}" alt="">

                <div class="content">
                    <div class="title">PRODUCTOS</div>
                    <div class="type">Conoce los precios que te convienen</div>
                    <div class="description">
                        ¡Haz que el cambio hacia un estilo de vida eco-friendly sea fácil y accesible!
                        Descubre nuestra amplia selección de productos a precios convenientes, con entrega a domicilio garantizada. 
                        Desde linternas recargables hasta estufas de pellets de madera y mucho más.
                    </div>
                    <div class="button">
                        <button> SEE MORE</button>
                    </div>
                    

                </div>
                
            </div>

            <div class="item">
                <img src="{% static 'img/foto3.jpg' %}" alt="">

                <div class="content">
                    <div class="title"> VEN A CONOCERNOS</div>
                    <div class="type"> Conoce aqui sobre nosotros</div>
                    <div class="description">
                        Somos una empresa comprometidas con el cambio climatico, 
                        por eso te invitamos a que visite nuestro sitio para conocer más sobre nuestra misión, objetivos y visión.
                    </div>
                    <div class="button">
                        <button> SEE MORE</button>
                    </div>
                    

                </div>
                
            </div>

        </div>
        <div class="thumbnail">

            <div class="item">
                <img src="{% static 'img/foto1.webp' %}" alt="">
            </div>
            <div class="item">
                <img src="{% static 'img/foto2.jpg' %}" alt="">
            </div>
            <div class="item">
                 <img src="{% static 'img/foto3.jpg' %}" alt="">
            </div>

        </div>
        <div class="nextPrevArrows">
            <button class="prev">🡰</button>
            <button class="next">🡲</button>
        </div>
      
    </div>
    {% endblock%}

    {% block js %}
    <script src="{% static 'js/app.js' %}"></script>
    {% endblock %}
    