@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
   
}
body{
    font-family: "Poppins", sans-serif;
    background: url(../img/foto2.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
}
/* Header section*/
header{
    width: 1140px;
    max-width: 1200px;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}
header .navbar ul{
    float: right;
    margin-right: 20px;
}
header .navbar ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
header .navbar a{
    color: #fff;
    margin-right: 5px;
    padding: 5px 10px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    transition: 0.3s;
    font-weight: 500;
    text-decoration: none;
}
 header .navbar a:hover{
    background: rgb(7, 156, 117);
    border-radius: 2px;
}

header .toggle-btn i{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    
    display: none;
}
 header .dropdown-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
header .dropdown-menu .open{
    height: 240px;
}
header .dropdown-menu a{
    text-decoration: none;
    font-weight: bold;
    color: #fff;

}
header .dropdown-menu a:hover{
    background: rgb(7, 156, 117);
    border-radius: 2px;
}
.dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 992px){
    header .navbar .links{
        display: none;
    }
    header .toggle-btn i{
        justify-items: right;
        display: block;
        
    }
}
/*Card section*/
img{
    display: block;
    max-width: 100%;
    height: auto;
}
body{
    
    min-height: 100vh;
    background-size: cover;
}
.container{
    display: grid;
    place-items: center;
    margin-inline: 1.0rem;
    padding-block: 5rem;
}
.card-container{
    display: grid;
    row-gap: 3.5rem;
}
.card-article{
    position: relative;
    overflow: hidden;
}
.card-img{
    width: 328px;
    border-radius: 1.5rem;
}
.card-data{
    width: 280px;
    background-color: #fff;
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position:absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    transition: opacity 1s 1s;
}
.card-description{
    display: block;
    font-size: .875rem;
    margin-bottom: .25rem;
}
.card-title{
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(7, 156, 117);
    margin-bottom: .75rem;
}
.card-button{
    text-decoration: none;
    font-size: .875rem;
    font-weight: 500;
    color: rgb(32, 101, 83);
}
.card-button:hover{
    text-decoration: underline;
}
.card-article:hover .card-data{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}
.card-article:hover{
    animation: remove-overflow 2s forwards;
}
.card-article:not(:hover){
    animation: show-overflow 2s forwards;
}
.card-article:not(:hover) .card-data{
    animation: remove-date 1s forwards;
}
@keyframes show-data{
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(-7rem);
    }
}
@keyframes remove-overflow{
    to{
        overflow: initial;
    }
}
@keyframes remove-data{
    0%{
        transform: translateY(-7rem);
    }
    50%{
        transform: translateY(-10rem);
    }
    0%{
        transform: translateY(.5rem);
    }
}
@keyframes show-overflow{
    0%{
        overflow: initial;
        pointer-events: none;
    }
    50%{
        overflow: hidden;
    }
}
@media screen and (max-width: 340px){
    .container{
        margin-inline: 1rem;
    }
    .card-data{
        width: 250px;
        padding: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .card-container{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.15rem;
    }
}

@media screen and (min-width: 1120px) {
   
   
    .card-container{
        grid-template-columns: repeat(3, 1fr);
    }
   
}



/*Footer section*/
.pie{
    background-color: rgb(35, 188, 117);
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
}
.pie .header .logo .title{
    font-size: 12px;
    display: flex;
    align-items: left;
    font-weight: bold;
}
.pie .header .logo .logotipo{
    font-size: 10px;
    color: #fff;
}
.pie .header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
 .pie .header .redes .fb,
 .pie .header .redes .tw,
 .pie .header .redes .in,
 .pie .header .redes .li,
 .pie .header .redes .yo{
    background: rgb(7, 156, 117);
    padding: 10px;
    border-radius: 80px;
    color: #fff;
    align-items: right;
 }

.pie .section{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}
.pie .section div{
    display: flex;
    flex-direction: column;
}
.pie .section div h2{
    color: #fff;
    padding: 10px 0;
}
.pie .section a{
    color: rgb(141, 241, 214);
    padding: 5px;

}
.pie .section form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pie .section form button{
    padding: 10px 20px;
    background: rgb(7, 156, 117);
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
.pie .derechos{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: rgb(0, 84, 45);
    color: #fff;
}


