{% extends 'base.html' %}
{% block contenido %}
<main class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card mt-4">
                <div class="card-body">
                    <h2>Correo enviado</h2>
                    <hr>
                    <p>Si el correo ingresado está registrado, te hemos enviado un enlace para restablecer tu contraseña.</p>
                    <a href="{% url 'login' %}" class="btn btn-primary">Volver al inicio de sesión</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
