{% extends 'base.html' %}
{% block contenido %}
<main class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card mt-4">
                <div class="card-body">
                    <h2>Contraseña cambiada</h2>
                    <hr>
                    <p>Tu contraseña ha sido cambiada con éxito.</p>
                    <a href="{% url 'login' %}" class="btn btn-success">Iniciar sesión</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
