{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/estiloss.css' %}">
{% endblock %}
{% block contenido %}
{% load crispy_forms_tags %}
<main class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <hr>
                    <h2 style="text-align: center; color: darkgreen;">Detalle perfil</h2>

                    <div class="card-body text-success">
                        <div class="header" >Datos usuario:</div>
                        <h5 class="card-title">Nombre usuario: {{ user.username}}</h5>
                        <h3 class="card-title">Nombre: {{ user.first_name }}</h5>
                        <p class="card-text"> Apellido: {{ user.last_name }}</p>
                        <p class="card-text"> Correo: {{ user.email }}</p>

                        <a href="{% url 'tienda' %}" class="btn btn-outline-success" style="float: right;"> Ir a Productos </a>
                        {% if user.is_authenticated and user.is_superuser %}
                        <div class="card-footer">
                            <small class="text-muted">Staff: {{ user.email }}</small>
                        {% endif %}
                        
                       
                       

                    </form>

                </div>
            </div>
        </div>
    </div>
</main>
<br>
{% endblock %}